.App {
  font-family: Arial, sans-serif;
  max-width: 600px;
  /* max-height: 500px; */
  margin: 45px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* overflow-y: auto; */
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.field-block {
  margin-bottom: 15px;
}

form input,
form select {
  width: calc(100% - 20px);
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="radio"] {width: auto;}

.inputs-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.inputs-group * { 
  width: auto;  
}

.inputs-group input { 
  margin-left: 10px;
}

.inputs-group div { 
  margin-top: 5px;
}

button {
  display: inline-block;
  margin: auto;
  width: calc(20%);
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.choose-value-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button:hover {
  background-color: #45a049;
}

.calculator-dropdown {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.calculator-dropdown:focus {
  outline: none;
  border-color: #4caf50;
}

.result-display {
  margin: 20px auto;
  width: calc(60%);
  padding: 10px;
  border: 1px solid #4caf50;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 18px;
  text-align: center;
}